.container{
  margin-bottom: 20px;   // 下外边距
  padding: 12px;   //  内边距
  border-radius: 3px;   // 圆角边框
  background-color: #fff;

  &:hover{   // :hover伪类选择器在鼠标移到元素上时向此元素添加特殊的样式。
    // 盒子阴影，是一个为元素添加边框阴影的新增属性；该属性可以向框添加一个或多个阴影，
    // 语法“box-shadow: 水平阴影 垂直阴影 模糊距离 尺寸 颜色 inset;”。
    box-shadow: 0 4px 10px darkorchid;
  }
}

.title{
  display: flex;
  .left{
    flex: 1;
  }
  .right{
    flex: 1;
    text-align: right;
  }
}

.button-container{
  display: flex;
  .left{
    flex: 1;
  }
  .right{
    flex: 1;
    text-align: right;
  }
}
